<div class="jumbotron">
    <h1>Automatic car checkpoint</h1>
    <p class="lead">Integred checkpoint system for any ukrainian city. Alpha version for Kreative hackathon&#9876</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Advantage #1</h2>
        <p>It is an ability to simplify the job and minimize the time taken to finish each task, all of these leads to better productivity and reliability.</p>
    </div>
    <div class="col-md-4">
        <h2>Advantage #2</h2>
        <p>In-touch control for round-the-clock state adjustment by pc, laptop, smartphone or other device, necessary condition is registration card.</p>
    </div>
    <div class="col-md-4">
        <h2>Advantage #3</h2>
        <p>The proposed system is fully automatic, no checkpoint staff is required to control the Aruino and signal the vehicle movement.</p>
    </div>
</div>