<style>



</style>

<div class="row">
    <div align="center" class=" col-md-6">
        <img src="https://pp.userapi.com/c637931/v637931645/f6f/PgQPPpzqQwY.jpg" alt="&#9787" />
        <p align="center">Vladyslav Ogorodnikov</p>
        <details>
            <summary>Socials</summary>
            <a href=""><p>VK</p></a>
            <a href=""><p>E-mail</p></a>
            <a href=""><p>Twitter</p></a>
            <a href=""><p>LinkedIn</p></a>
        </details>
    </div>
    <div align="center" class="col-md-6">
        <img src="https://pp.userapi.com/c626930/v626930264/15d8c/XlZNeEP8QRs.jpg" alt="&#9786" />
        <p>Mykhailo Tsion</p>
        <details>
            <summary>Socials</summary>
            <a href=""><p>VK</p></a>
            <a href=""><p>E-mail</p></a>
            <a href=""><p>Twitter</p></a>
            <a href=""><p>LinkedIn</p></a>
        </details>
    </div>
</div>
