<style>
    #subscribe, #login {
        position: center;
        top: 0px;
        width: 80%;
        padding: 18px 6% 60px 6%;
        margin: 0 0 35px 0;
        background-color: #eeeeee;
        box-shadow: 0pt 2px 5px rgba(105, 108, 109, 0.7), 0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
        border-radius: 5px;
        padding-bottom: inherit;
    }

    h1 {
        font-size: 28px;
    }

    label {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        font-size: medium;
    }

    #login {
        z-index: 22;
    }

    #wrapper p.button input {
        width: 30%;
        cursor: pointer;
        background: rgb(61, 157, 179);
        padding: 8px 5px;
        font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
        color: #fff;
        font-size: 24px;
        border: 1px solid rgb(28, 108, 122);
        margin-bottom: 10px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
        border-radius: 3px;
        box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset, 0px 0px 0px 3px rgb(254, 254, 254), 0px 5px 3px 3px rgb(210, 210, 210);
        transition: all 0.2s linear;
    }

        #wrapper p.button input:hover {
            background: rgb(74, 179, 198);
        }

        #wrapper p.button input:active,
        #wrapper p.button input:focus {
            background: rgb(40, 137, 154);
            position: relative;
            top: 1px;
            border: 1px solid rgb(12, 76, 87);
            box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
        }

    p.login.button {
        text-align: center;
        margin: 5px 0;
    }

    #register {
        z-index: 21;
        opacity: 0;
    }

    table {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        border-collapse: collapse;
        color: #686461;
        width: 80%;
    }

    table.info {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        border-collapse: collapse;
        width: 80%;
        border-radius: 5px;
    }

    caption {
        //width: 80%;
        //position: center;
        padding: 10px;
        color: white;
        background: rgb(74, 179, 198);
        font-size: 28px;
        text-align: center;
        font-weight: bolder;
        border-radius: 5px;
        box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
    }

    th {
        border-bottom: 3px solid #B9B29F;
        padding: 10px;
        text-align: left;
    }

    td {
        padding: 10px;
    }

</style>

<br /><br />

<table align="center">
    <caption>Get info of one system's user</caption>
</table>

<div id="container_demo" align="center">
    <div id="wrapper">
        <div id="login" class="animate form">
            <!-- https://metanit.com/sharp/aspnet5/5.2.php --->
            <form method="post" action="/HTMLgetter/GetInfo/" autocomplete="on">
                <h3>enter the number of the card:</h3>
                <p>
                    <input 
                           id="cardnumber" 
                           name="cardnumber" 
                           required="required" 
                           type="text" 
                           placeholder="38047242"
                           size = "25%"
                            
                    />
                </p>
                <p class="find button">
                    <input type="submit" value="Find" />
                </p>
            </form>
        </div>
    </div>
</div>

<br/>




<table class="info jumbotron" align = "center">
    <tr><th>User&#8217s finding status: </th><th>unknown</th></tr>
</table>

<script>

    "use strict";

    $(function () {
        $(".find button").click(function () {
            $.getJSON("/HTMLgetter/GetInfo", document.body.getElementsByClassName("input")[0].nodeValue, cardnumber);
        });
    });

    function resetState() {
        //document.body.getElementsByTagName("table")[1].rows[0] =
        //  "<tr><th>User&#8217s finding status: </th><th>unknown</th></tr>";
        $(".info").rows[0] = "<tr><th>User&#8217s finding status: </th><th>unknown</th></tr>";
    }

    function okState() {
        //document.body.getElementsByTagName("table")[1].rows[0] =
        //  "<tr><th>User&#8217s finding status: </th><th>found!</th></tr>";
        $(".info").rows[0] = "<tr><th>User&#8217s finding status: </th><th>found!</th></tr>";
        $(".info").rows[0].cells[1].style.color = "green";
    }

    function unknownState() {
        //document.body.getElementsByTagName("table")[1].rows[0] =
         // "<tr><th>User&#8217s finding status: </th><th>no users</th></tr>";
        $(".info").rows[0] = "<tr><th>User&#8217s finding status: </th><th>no users</th></tr>";
        $(".info").rows[0].cells[1].style.color = "red";
    }

</script>